.header {
    position: relative;
    height: 25px;
    margin-top: 25px;
}

.new-btn {
    position: absolute;
    right: 0%;
    top: 0%;
    transform: translateX(-85%);
    width: 100px;
    height: 28px;
    font-size: 16px;
    border: #0076DF 2px solid;
    color: #0076DF;
}

.new-btn:hover {
    background: #0076DF;
    color: white;
}