.table-itens {
    display: flex;
    justify-content: center;
    font-family: "Roboto", serif;
    margin: 20px 25px 20px 25px;
}

.table-itens table {
    border: solid 1px #000;
    border-radius: 5px;
    width: 100%;
}

.table-itens td {
    text-align: center;
}

tr {
    align-items: center;
    text-align: center;
}

tbody tr{
    cursor: pointer;
}

.safe {
    background-color: #84CB6D;
}

.warn {
    background-color: #dada3e;
}

.ohno {
    background-color: #ff0000;
    color: white;
}

.dead{
    background-color: black;
    color: red;
}

tbody tr:hover {
    background-color: #3589E9;
}
