<div class="table-itens">
    <table>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Validade</th>
            <th>Dias para vencer</th>
        </tr>
        @for (product of products; track product.id){
        <tr class="tr-content">
            <td>{{product.sku}}</td>
            <td>{{product.nome}}</td>
            <td>{{product.quantidade}}</td>
            <td>{{product.validade}}</td>
            <td>{{onGetDayRest(convertStrtoDay(product.validade))}}</td>
        </tr>
        }


    </table>
</div>